{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}
{% block content %}

    <h4>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h4>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    {% for review in product.product_reviews.all %}
         <p>Отзыв: <a href="{% url 'photo-view' review.pk %}">{{ user.username }}</a></p>
    {% empty %}
        <h2>Нет отзывов</h2>
    {% endfor %}
{% endblock %}
